:root{
    --white: #FFFFFF;
    --main: #1a1a1a;
    --accent:#262626;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: montserrat, sans-serif;
    background-color: var(--main);
}
/* Hero Button */
.btn {
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 1em;
    background: linear-gradient(135deg, #ff5d52, #ff9447);
    color: var(--white);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(255, 93, 82, 0.3);
    letter-spacing: 0.2em;
    margin: 5rem;
  }
/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    border-bottom: 1px solid var(--main);
    /* background-color: rgba(40, 40, 40, 0.95); */
    background-color: var(--accent);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 99999999999;
}
ul{
    display: flex;
    margin-right: 10rem;
    font-size: 2rem;
    font-weight: 500;
    /* letter-spacing: 0.1em; */
}
.ul:not(:last-child) {
    margin-right: 3rem;
}
.navbar li {
    display: inline-block;
    /* background-color: aquamarine; */
    padding: 10px;
    margin-left: 2em;
    transition: ease-in-out 0.25s;
}
.nav-link{
    font-weight: 600;
    color: white;
}

.navbar li:hover {
    cursor: pointer;
    /* background-color: azure; */
}

/* NAVBAR END */

.background {
    background-color: royalblue;
    position: relative;
    height: 100vh;
    position: fixed;
    top: 0;
}
.canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    overflow: hidden;
}
/* HERO */
.hero {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 999;
}

.hero-heading {
    position: relative;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
    font-weight: 300;
    z-index: 999;
}
.hero-blurb{
    font-size: 3rem;
    width: 40%;
}
/* HERO END */

/* ABOUT SECTION */
.about {
    /* background-color: antiquewhite; */
    position: relative;
    /* width: 50vw; */
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

.about-heading {
    text-align: center;
    margin: auto;
    /* background-color: cadetblue; */
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 13rem;
}



.about-content {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);

    /* background-color: #4e3036; */
}


.profile {
    /* position: static; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* font-weight: 500; */
    /* opacity: 0; */
    /* transition: all 1.1s; */
    margin: auto;
    /* background-color: #ff9447; */
}

.profile img{
    height: 30rem;
    /* border-radius: 60%; */
    clip-path: ellipse(50% 50%);
    /* background-color: aliceblue; */
}


.about-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin: 3em 2em 3em ;
    /* background-color: #ff9447; */
}
/* ABOUT SECTION END*/
/* PROJECTS START*/
.projects{
    display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2rem;               
  /* width: 100%; */
  /* max-width: 1200px; */
  margin: 0 auto;          
  /* padding: 2rem; */

  position: relative;
  margin: auto;
  align-items: center;
  /* background-color: aqua; */
}

.project-content{
    position: relative;
    display: flex;
    align-content: center;
    flex-direction: column;
    /* flex-direction: column; */
    justify-content: flex-start;
    color: var(--white);
    margin: 1rem ;
    border-radius: 0.8rem;
    
    transition: all 0.2s;

    background-color: var(--accent);

}
.project-text{
    position: absolute;
    /* margin-left: -8rem; */
    font-size: 2.2rem;
    line-height: 1.8;
    margin: 3.4rem;
    /* width: 500px; */
}
.project-img-container{
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* height: 40rem; */
    width: 70rem;
    cursor: pointer;
    height: 40rem;
}
.project-content:hover{
    transform: scale(0.95);
}
.image-overlay{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image-overlay img{
    width: 100%;
    /* display: block; */
    transition: filter 0.3s ease;
    height: 100%;
    object-fit: cover;
}
.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: auto;
    width: 100%;
    opacity: 0;
    /* background-color: rgba(0, 0, 0, 0.6);  */
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    transition: opacity 0.3s ease;
    /* padding: 2rem; */
}
.image-overlay:hover img{
    filter: brightness(0.3);
}
.image-overlay:hover .overlay-text {
    opacity: 1;
}

.project-title {
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 1rem;
    width: 90%;
    margin: 1em;

    /* text-align: center; */
  }
  .project-tools {
      display: flex;
      font-size: 2rem;
      margin: 1rem;
      color: var(--white);
      /* text-align: center; */
    }
    .project-tools p{
        margin-right: 2rem;
        
  }
/* PROJECTS END */
/* CONTACT */
.contact{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.contact-text{
    font-size: 1.8rem;
}
.contact-form{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    gap: 10px;
}
.contact-form textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-form button{
    display: flex;
    align-items: center;
    margin-left: 100%;
    padding: 15px 30px;
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background: linear-gradient(#ff5d52,#ff9447);
}
.contact-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 2em;
    font-weight: 500;
    color: var(--white);
    border-radius: 0.7em;
    padding-left: 25px;
    background-color: var(--accent);
}

.contact-input:focus{
    border: 2px solid #ff5d52;
}

.contact-input::placeholder{
    color: #a9a9a9;
}
/* CONTACT END*/
/* FOOTER */
footer{
    height: 20em;
    background-color: var(--accent);
}
/* FOOTER END */
/* ELEMENTS */
div{
    display: block;
}
section{
    display: block;
    margin: auto;
}
canvas {
    overflow: clip;
}
h2{
    color: var(--white);
    display: block;
    font-size: 5.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: var(--white);
}
hr{
    border: none;
    background-color: rgb(255, 96, 96);
    width: 100px;
    height: 5px;
    border-radius: 2px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a{
    text-decoration: none;
}
/* ELEMENTS END */
/* Background Particles */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }

  /* Mobile View */
@media (max-width: 768px) {
    .hero-heading span.clf {
        font-size: 3rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-img img {
        width: 80%;
        height: auto;
    }

    .project-content {
        margin: 1rem 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 0.5rem 0;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
    }
    /* About Start */
    .about{
    }
    /* About End */ 
    /* PROJECTS START*/
.projects{
  width: 100vw;
  background-color: aqua;
}

.project-content{
    /* flex-direction: column; */
    justify-content: flex-start;
    margin: 1rem ;
    border-radius: 0.8rem;
    width: 80%;
    transition: all 0.2s;


}
.project-text{
    position: absolute;
    /* margin-left: -8rem; */
    font-size: 1.3em;
    line-height: 1.8;
    margin: 3.4rem;
    /* width: 500px; */
}
.project-img-container{
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.image-overlay{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image-overlay img{
    width: 100%;
    height: 100%;
}
.overlay-text{
    height: 100%;
    margin: auto;
    width: 100%;
    opacity: 0;
}

.project-title {
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    width: 90%;
    margin: 1em;

    /* text-align: center; */
  }
  .project-tools {
      display: flex;
      font-size: 2rem;
      margin: 1rem;
      /* text-align: center; */
    }
    .project-tools p{
        margin-right: 2rem;
        
  }
/* PROJECTS END */
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 1000px var(--accent) inset !important; /* background override */
  border: 1px solid var(--accent); /* optional */
  -webkit-text-fill-color: var(--white) !important; /* text color */

}